.navigation{
    @include prdb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index:9999;
    padding:0rem 2.5rem;
    //margin-right:20px;
    //margin-left:20px;
    background-color: $dark-violet;
    *{
        color:white;
        @include media($lg){
            color:$grayish-violet;
        }
    }
    @include media($lg){
        /*position: absolute;
        top:30px;
        left:100px;*/
        background-color: transparent;
    }
}
.navigation__accent--line{
    background-color:  $grayish-violet;
    height: 1px;
    opacity:0.5;
    @include media($lg){
        display: none;
    }
}
.navigation__contents{
    position: relative;
    width:100%;
    text-align: center;
    padding-top:30px;
    padding-bottom:25px;
    @include media($lg){
        margin-left:15px;
    }
}

.navigation__item{
    @include prdb;
    font-weight:$font-weight-2;
    font-size:1.8rem;
    @include media($lg){
        @include prdib;
        padding:0px 15px!important;
        font-size:1.5rem;
    }
     a {
         &:link,
         &:visited{
         @include prdb;
         padding-top:10px;
         padding-bottom: 10px;
         text-decoration: none;
         font-weight: inherit;
         color:inherit;
         font-size:inherit;
         }
         &:hover,
         &:active,
         &:focus{
             color:$dark-violet;
             cursor: pointer;
         }

     }
}
.navigation__tree{
    @include prdb;
    @include unstyledlist;
    transition: 0.2s ease all;
}
